<h1>{{title}}</h1>
@for(person of persons;track person.nom){
<div>
    @if(person.nom!='yahyaa'){
    <h1 [ngClass]="person.nom=='yahya'?'yahyaClass':'elseclass'"> {{person.nom}}</h1>
    <h2 (mouseenter)="flexe()"> {{person.age}}</h2>}
    <button (click)="reaction()">Cliquez-moi</button>
    <h1> {{trunctaedMessage | uppercase}}</h1>
    <h1> {{prix  | number:'1.2-2'}}</h1>
    <h1> {{trunctaedMessage | titlecase}}</h1>
    <h1> {{trunctaedMessage | uppercase}}</h1>
    <h1> {{date | date:'yyyymmdd'}}</h1>
    <h1> {{prix | currency:'EUR'}}</h1>
    <h1> {{trunctaedMessage | truncate:20}}</h1>
    <h1>{{data$ |async}}</h1>







    
</div>}
