
<!--<app-product-list></app-product-list>
<app-template-driven-form></app-template-driven-form>

<app-demo [title]="'hello'"></app-demo>
<app-demo [title]="'amine'" (messageEvent)="receiveMessage($event)" (eventMessage)="flexConsumer($event)"></app-demo>
{{message}}

{{myMessage}}
-->


<!--<button (click)="toggle = !toggle">Afficher / Cacher le composant</button>
<input type="text" [(ngModel)]="msg" placeholder="Tape un message">

<app-cycle-de-vie *ngIf="toggle" [message]="msg"></app-cycle-de-vie>-->

<router-outlet></router-outlet>