.container {
  display: flex;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 250px;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #1abc9c;
}


.content {
  flex: 1;
  padding: 40px;
  background-color: #f4f6f7;
}