<div class="container">

  <div class="sidebar">
    <h2>Menu</h2>

    <ul>
      <li>
        <a routerLink="/addHopital">Créer Hopitale</a>
      </li>
      <li>
        <a routerLink="/getAllHopitaux">Mes Hopitaux</a>
      </li>
      <li>
        <a routerLink="/ModifierHopital">Modifier Hopitale</a>
      </li>
            <li>
        <a routerLink="/addAgentHospitalise">Créer Agent Hospitalisé</a>
      </li>
       <li>
        <a routerLink="/ModifierHopital">Modifier Agent Hospitalisé</a>
      </li>

    </ul>
  </div>

  <div class="content">
    <h1>Bienvenue dans le Home</h1>
    <p>Sélectionnez une option dans le menu.</p>
    <img [src]="imageUrl" alt="Logo">
  </div>

</div>